*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.kotlin
**/build/
app/release/
app/debug/
*.apk
*.aab
*.ap_
*.jks
*.keystore
*.p12
*.pem
keystore.properties
google-services.json
captures/
